<div class="container">
<div class="headerDiv">
    <h1 class="my-3 headerStyle">HOMEPAGE</h1>
    <div>
        <input placeholder="search todo..." class="form-control searchNote" [(ngModel)]="enteredText">
        <button class="btn btn-primary addTodoButton" routerLink="/addTodo">AddTodo</button>
    </div>
   
</div>
<div class="contentDiv">
  
        <li *ngFor="let note of notes | filter:enteredText ; let i = index" class="listCss">
            <span>{{note.name}}</span>
            <button class="btn btn-danger deleteButton" (click)=removeNote(i)>Delete</button>
        </li>
    
</div>
</div>